@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Rexburg 29th Ward</p>
    <p>
        Click the Sacrament Planner in the top left corner to begin
    </p>
 </div>   
